NEXT_PUBLIC_API_URL=https://api.fieldserviceit.com
SENTRY_DSN=
SENTRY_SERVER_ENABLED=false
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=fieldserviceit
SENTRY_PROJECT=javascript-nextjs
SENTRY_TRACES_SAMPLE_RATE=0.05
NEXT_PUBLIC_SENTRY_TRACES_SAMPLE_RATE=0.05
